/*
 * This is a manifest file that'll be compiled into application.css, 
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets 
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear 
 * at the bottom of the compiled file so the styles you add here take precedence 
 * over styles defined in any other CSS/SCSS files in this directory. 
 * Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|NTR|Roboto');

$font-stack: 'Montserrat', sans-serif;
$font-h-stack: fa5-proxima-nova, 'NTR', sans-serif;
$theme-color: #2874A6; 

html { font-size: 100%; }

body, body > p, body > ol, body > ul, body > td {
	margin: 0px !important;
	font-family: $font-stack;
	font-size: 1em;
}

a { text-decoration: none; }
a:hover { background-color: transparent; }

.text-box {
	font-size: 1.2em;
	line-height: 1.5em;  
	font-family: $font-stack; 
	text-align: justify;
	color: black;
	h1, h2, h3 {
		font-family: $font-h-stack;
		color: $theme-color;
	}
}

.gray-scale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.left { float:   left; }
.right { float: right; }
.hidden { display: none; }

@import "navigation";
@import "header";
@import "pinned";
@import "main";
@import "footer";

@media all and (max-width: 800px) {
 	#main-container {
		flex-direction: column-reverse;
	}
}

@media all and (max-width: 500px) {
	#navigation-bar .title {
		display: none;
	}
}