/*
 * This is a manifest file that'll be compiled into application.css, 
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets 
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear 
 * at the bottom of the compiled file so the styles you add here take precedence 
 * over styles defined in any other CSS/SCSS files in this directory. 
 * Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat|NTR|Roboto');

html { font-size: 100%; }

body, body > p, body > ol, body > ul, body > td {
	margin: 0px !important;
	font-family: 'NTR', sans-serif;
}

a:hover { background-color: transparent; }

.navigation_bar {
	overflow: hidden;
  background: linear-gradient(#BEBEBE, #F2F3F4);
}

.text-box {
	font-size: 1rem;
	line-height: 1.5rem;  
	font-family: 'Montserrat', sans-serif;
}

.gray-scale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#banner {
	position: fixed;
	z-index: 999;
	height: 4.5em;
	top: 0;
	left: 0;
  width: 100%;
	box-shadow: 0 0 40px rgba(0,0,0,0.6);
	#logo {
		float: left;
		img {
			height: 2.5em;
			margin-top: 1em;
			margin-left: 1.5em;
		}
	}
	#links {
		margin-right: 0.5em;
		font-size: 1.3rem;
	 	a {
	 		height: 1em;
  		float: right;
  		display: block;
  		color: gray;
  		text-align: center;
  		padding-left: 0.3em;
  		padding-right: 0.3em;
  		padding-bottom: 1em;
  		padding-top: 0.1em;
  		margin-top: 1em;
  		text-decoration: none;
  		border-radius: 0.3em;
  		background-color: none;
		}
		a:hover { color: #C00000; /*#C60606;*/ }
		a.active { color: black; font-weight: bold; }
	}
}

#header {
	margin-top: 4.5em;
	min-height:  45em;
	background: url('header_banner.png') no-repeat;
	background-size: 100% auto;
	border-bottom: 2px solid #E5E5E5;
}

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#notice:empty {
	display: none
}

#main {
	padding: 3em;
	min-width: 40em;
	/*background: #FCFCFC;*/
	flex: 1;
}

#footer {
	border: 1px solid #E5E5E5;
	height: 50em;
	background-color: #F5F5F5;
}

#carousel-slider {
	height: 40em;
	background-color: gray;
}

@media all and (max-width: 800px) {
 	#columns {
		flex-direction: column-reverse;
	}
}

@media all and (max-width: 500px) {
	#banner {
		height: 1em;
	}
	#banner .title {
		display: none;
	}
}