/*
 * This is a manifest file that'll be compiled into application.css, 
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets 
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear 
 * at the bottom of the compiled file so the styles you add here take precedence 
 * over styles defined in any other CSS/SCSS files in this directory. 
 * Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|NTR|Roboto');

/*$font-stack: 'Montserrat', sans-serif;*/
$font-stack: fa5-proxima-nova, 'NTR', sans-serif;
$font-h-stack: fa5-proxima-nova, 'NTR', sans-serif;
$theme-color: #2E4053; 
$theme-color-border: #FFCC00 ; /*#F1C40F;*/
$theme-color-border-light: #EBEDEF;
$theme-color-border-dark:  #BDC3C7;
$text-color: #5D5D5D; /*#7A7A7A;*/

$small-size: 800px;

html { font-size: 100%; }

body, body > p, body > ol, body > ul, body > td {
	margin: 0px !important;
	font-family: $font-stack;
	font-size: 1em;
}

a, a:link, a:visited, a:hover, a:active { text-decoration: none; }
a:hover { background-color: transparent; }

.text-box {
	font-size: 1.5em;
	line-height: 1.5em;  
	font-family: $font-stack; 
	text-align: justify;
	color: $text-color;
	h1, h2, h3 {
		font-family: $font-h-stack;
		font-weight: bold;
		color: $theme-color;
	}
}

.error-box {
	border: none;
	border-radius: 0.5rem;
	background-color: #FFE9E9;
	padding: 1rem;
	color: red;
	ul {
		list-style-type: none;
		margin-left: -2rem;
	}
}

.gray-scale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.left { float:   left; }
.right { float: right; }
.hidden { display: none; }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@import "navigation";
@import "header";
@import "highlights";
@import "main";
@import "footer";

@media all and (max-width: $small-size) {
 	.text-box > h1, h2, h3 {
		text-align: left;
	}
}

