.ft-container {
	position: relative;
	min-height: 30em;
	background-color: $theme-color-light;
	clear: both;

	.copyright-box {
		position: absolute;
		bottom: 0;
		padding: 2rem;
		width: 100%;
		margin: auto;
	}
}
