.hd-container {
	display: flex;
	flex: 1;
	flex-direction: column-reverse;
	margin-top:  3.5rem;
	border-bottom: 4px solid $theme-color-border;
	position: relative;
	.hd-img {
		width: 100%;
		height: auto;
		display: block;
	}

	.hd-text {
		position: absolute;
		font-family: $font-h-stack;
		top: 4rem;
		right: 4rem;
		width: 45%;
		height: 10rem;
		text-align: left;
		background-color: $theme-color-border;
		border-radius: 0.5rem;
		opacity: 0.8;
		padding: 2rem;
		h2 {
			padding-top: 1rem; 
			font-weight: bold;
			font-size: 3rem;
			color: $theme-color;
		}
		h3 {
			font-weight: bold;
			font-size: 2.5rem;
			color: $text-h-color; 
		}
		p {
			line-height: 0;
			font-size: 2rem;
			color: #717D7E; 
		}
		a {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
	}
}

@media all and (max-width: $small-size) {
 	.hd-container {
		flex-direction: column;
 	  .hd-text {
 			width: 92%;
			margin: auto;
	  }
  }
}
