#header-container {
	display: flex;
	flex: 1;
	flex-direction: column-reverse;
	margin-top:  3.5rem;
	border-bottom: 4px solid $theme-color-border;
	position: relative;
	.header-img {
		width: 100%;
		height: auto;
		display: block;
	}

	.header-text {
		position: absolute;
		top: 2rem;
		right: 2rem;
		width: 46%;
		height: 12rem;
		text-align: left;
		background-color: $theme-color;
		border-radius: 1rem;
		opacity: 0.95;
		padding: 2rem;
		h2 {
			font-weight: bold;
			font-size: 3em;
			color: white;
		}
		h3 {
			font-weight: bold;
			font-size: 2.5em;
			color: $theme-color-border;
		}
		p {
			line-height: 0.5em;
			font-size: 2em;
			color:  #0792FF;
		}
		a {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			color: $theme-color;
			font-weight: bold;
			background-color: #66EA62;
			border-radius: 0.5rem;
			font-size: 1.5em;
			padding: 0.6rem 1rem 0.4rem 1rem;
		}
		a:hover {
			color: $theme-color;
			background-color: $theme-color-border;
		}
	}
}

@media all and (max-width: $small-size) {
 	#header-container {
		flex-direction: column;
 	  .header-text {
 			width: 92%;
			margin: auto;
	  }
  }
}
