/*
 * table listings decoration:
 */
table {
	border-collapse: collapse;
}

%list {
	vertical-align: top;
	width: 100%;
	td {
		vertical-align: top;
		padding: 2rem;
	}
}

.list-line-odd {
	@extend %list;
	background-color: $theme-color-light /* #F7F9F9*/;
	border: 1px solid $theme-color-border-dark;
}

.list-line-even {
	@extend %list;
}