/*
 * decoration of the top bar.
 * 
 */
#navigation-container {
	position: fixed;
	z-index: 999;
	height: 3.5rem;
	top: 0;
	left: 0;
  width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	overflow: hidden;
  background-color:  #EEEEEE;

  .fa-bars {
  	height: 3.5rem;
  	width:  3.5rem;
  	font-size: 2.5rem;
  	padding-left:  0.75rem;
  	padding-top:   0.5rem;
  	padding-right: 0.75rem;
  	float:  left;
	}
	
	#logo {
		float: left;
		height: 2.5rem;
		margin-top:  0.5rem;
		margin-left: 0.5rem;
	}

	.fa-user {
  	height: 2.5rem;
  	width:  2.5rem;
  	font-size: 2rem;
  	margin-top: 0.5rem;  
  	margin-right: 0.75rem; 
  	padding-top: 0.25rem; 
		padding-left: 0.55rem;
  	float: right;
  	border-radius: 1.5rem;
		background-color: #D1D1D1;
	}

	.fa-bars:hover, .fa-user:hover { background-color: #E5E5E5; color: #C00000; }
}

#navigation-links {
	display:none;
	margin-right: 1rem;
	font-size: 1.3em;

		/*a {
	 		height: 1.3rem;
  		color: gray;
  	text-align: center;
  	padding: 0.4rem 0.4rem;
  	margin-top: 0.5rem;
  	text-decoration: none;
  		background-color: none;
		}
	}
	a:hover { color: #C00000; }
	a.active-link { color: #C00000; font-weight: bold; }
*/
}

