<div class='md-container text'>
	<%= link_to(:back) do %>
    <%= fa_icon("fas, times-circle") %>
  <% end %>

	<h2>Enter your details to sign up an account</h2>

	<%= render 'form', user: @user %>
</div>