<div class='ml-container text'>
	<h1>Who are we?</h1>
		This would be a static home page in a Rails application.
</div>	
<div class='ml-container text'>
	<h1>What do we do?</h1>
		This would be a static home page in a Rails application.
</div>