<% content_for :header do %>
  <%= image_tag 'header_banner_1.png', class: 'hd-bg gray-scale' %>
<% end %>

<div class='md-container text'>
	<h2>Contact us by filling up this form</h2>
	<p>This would be a static home page in a Rails application.</p>
</div>