<!--     <div id="carousel-slider">
    <%= carousel_for(@carousel_images) %>
    </div>
 -->

<div class="text-box">
<h2>The HPC and AI revolution is here</h2>
	We are proud to announce our 3rd edition of the Tunisian Workshop On High 
	Performance Computing & Artificial Intelligence. As usual, we will have a 
	plenary session where we will cover new advances in the field. We are also
	pleased to have some experts on-board from various backgrounds and tackling 
	various challenges with their use cases.

	The novelty this year will consist in more advanced labs in order to ensure 
	the continuity with the previous sessions. We will maintain introductory 
	sessions for attendees with no HPC or AI background.
	This would be a static home page in a Rails application.
</div>