<% content_for :header do %>
  <%= image_tag 'header_banner_1.png', class: 'hd-img' %>
  <div class='hd-text'>
    <div class='v-center'>
      <h2>#TshpcConf 2019 </h2>
      <p> Ecole Polytechnique de Tunisie – Tunisia</p>
      <h3>March 27 - 29 </h3>
    </div>
    <%= link_to("Register", root_path, class: 'btn-stl-1') %>
  </div>  
<% end %>

<div class='hd-container'>
	<%= yield :header %>
</div>
