<div id='highlights-container'>
  <div class='highlights-box'>
  </div>
  <div class='highlights-box highlights-middle'>
  </div>
  <div class='highlights-box'>
    <%= fa_icon("fas, coins") %>
  </div>
</div>
